h1 {
  color: green;
  text-align: center;
  text-decoration-style: solid;
  text-decoration-line: overline underline;
  text-decoration-color: black;
}

.hari {
  border: 1px solid black;
}

button {
  border: 1px solid green;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

button#hari {
  margin-top: 0px;
}
